
  
  /* common */
  /* Text */
  * {font-weight: 400;}
  h1{ font-size: 4rem; line-height:5.4rem;}
  h2{ font-size: 3rem; line-height: 4.2rem;}
  h3{ font-size: 2.2rem; line-height: 3rem;}
  h4{ font-size: 1.6rem; line-height: 2.2rem;}
  h5{ font-size: 1.4rem; line-height: 1.6rem;}
  h6{ font-size: 1rem; line-height: 1.6rem;}
  p{ font-size: 1rem; line-height: 1.8rem;}
  
  
  b, .title {font-weight: 700;font-family: inherit;}
  a, span,
  a h4,
  a h5{font-weight: inherit;font-family: inherit;}
  
  
  .textBox{
    z-index: 2;
  }


  .wrap.type-flex{
    display: flex;
  }
  .wrap.type-flex.direc-row{
    flex-direction: row;
    align-items: center;
  
  }
  .wrap.type-flex.direc-row.size-50p{
    gap: 60px;
  }
  .wrap.type-flex.direc-row.size-50p > *{
    flex: 1;
  }
  .wrap.size-center{
    gap: 30px;
  }
  .wrap.size-center > *{
    width: 100%;
  }
  .wrap.type-flex.direc-col{
    flex-direction: column;
  }
  
  
  /* icon */
  
  .icon.ic-arrowR{
    /* mask-image: url(../resources/icon-arrowR.png);
    background-color: var(--color-primaryPink); */
    background-image: url(../resources/icon-arrowR.png);

  }
  
  
  

/* script */


/* custom */
html {
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1400px
}


.scene {
  width: 45%;
  height: 90%;
  margin: 4% 5% auto 50%;
  
  perspective: 1000px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  
  transform-style: preserve-3d;
}

.page {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;

  transition: 1.5s transform;
  transform: translateZ(-1px);
  transform-style: preserve-3d;  
  transform-origin: left center;
}
.front,
.back {
  position: absolute;
  
  width: 100%;
  height: 100%;
  padding: 10% 5% 5%;
  box-sizing: border-box;
  
  backface-visibility: hidden;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: linear-gradient(to bottom right, #fff, #ccc);
}
.back {
  transform: rotateY(180deg);
}

.page.ACTIVE {
  z-index: 1;
  transform: translateZ(0);
}
.page.flipped {
  transform: translateZ(0) rotateY(-180deg);
}
.page.flipped:last-of-type {
  z-index: 1;
}

p {
  margin: 0 0 0.1em;
  text-indent: 1em;
}

.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
  }

}



@font-face {
  font-family: 'HS-Regular';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTHakgyoansimSonagiR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimSonagiR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.frame .contents {
  position: absolute;
  width: 40%;
  left: 5%;
}
.frame .contents > .wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.frame .contents .storyList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.frame .contents .storyList .storyItem.ACTIVE{
  border: 3px solid var(--color-primary);
  padding: 10px;
}

.frame .contents .storyList .storyItem > button{
  width: 100%;
}
.frame .contents .storyList .storyItem .thm {
  background-color: #eee;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.scene .book .front {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

}
.scene .book .front .textBox .title{
  font-family: 'HS-Regular';
}
.scene .book .front .desc{
  font-family: 'TTHakgyoansimSonagiR';
  letter-spacing: -.5px;

}
.scene .book .front .inputBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.scene .book .front .inputBox label{
  text-align: left;
}

  .scene .book .front .inputBox input {
  height: 60px;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 1.6rem;
  text-align: center;
}
.scene .book .front .thm{
  width: calc(100%);
  height: 0;
  flex: 1;
  background-size: cover;
  background-position: center;
}


.scene .book video{
  width: 100% !important;
  flex: 1;
  background-color: #000;
}
.scene .book .scriptBox {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;

}
.scene .book pre {
  white-space: pre-wrap;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.imgBox {
  position: relative;

  height: 100%;    
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgBox .imgSelect .imgOption {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.imgBox .imgSelect .imgOption .btnImg{
  background-color: #ccc;
  height: 0;
  padding-bottom: 33%;
  flex: 1;
  background-size: cover;
  background-position: center;
}

.imgBox .imgFixed {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 12px;
}
.imgBox .imgFixed .img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.imgBox .imgFixed .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.back{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.back .textBox{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.front.resultBox .title,
.back .textBox .title{
  font-family: 'HS-Regular';

}